# See http://help.github.com/ignore-files/ for more about ignoring files.


# echo "# forms-login" >> README.md
# git init
# git add README.md
# git commit -m "first commit"
# git branch -M master
# git remote add origin https://github.com/Abbys-Code/forms-login.git
# git push -u origin master


# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
/e2e
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
.editorconfig
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
browserslist
karma.conf.js
package-lock.json
tsconfig.app.json
tsconfig.spec.json
tslint.json


# System Files
.DS_Store
Thumbs.db
