<div class="card">
    <div class="card-header">
        <h1>CUSTOMER LOGIN</h1>
    </div>
    <div class="card-body">
        <div class="formGroup">
            <label for="username"><fa-icon [icon]="faEnvelope"></fa-icon></label>
            <input type="text" name="username" id="username" placeholder="Email ID">
        </div>
        <div class="formGroup">
            <label for="password"><fa-icon [icon]="faLock"></fa-icon></label>
            <input type="password" name="password" id="password" placeholder="Password">
        </div>

        <div class="formGroup">
            <label for="remember">
                <input type="checkbox" name="remember" id="remember" checked> 
                Remember me
            </label>
             
            <a href="#">Forgot password ?</a>
        </div>
        
        <div class="formGroup">
            <input type="submit" value="LOGIN">
        </div>

        
        
    </div>

</div>